@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    /*overflow-y: scroll;*/
    user-select: none;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
    touch-action: pan-y;
}
