@import "tailwindcss";

html, body {
    /*overflow-y: scroll;*/
    user-select: none;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
    touch-action: pan-y;
}

.cursor {
    animation: cursor-blink 1s step-end infinite;
}
@keyframes cursor-blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}